{% extends 'detection/base.html' %} {% block content %}
<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title">Records</h5>

        <form action="datepicker" method="get">
            <div class="col-12 col-xl-4">
                <div class=" form-group">
                    <label class="form-label">Date Range</label>
                    <input type="text" class="form-control" name="datetimes" />
                    <input type="hidden" class="form-control" name="start" id="start" />
                    <input type="hidden" class="form-control" name="end" id="end" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>

    <table id="datatables-reponsive" class="table table-striped" style="width:100%">
        <thead class="table table-striped table-hover">
            <tr>
                <td>Student Name</td>
                <td>Arrive Date</td>
                <td>Campus</td>
            </tr>
        </thead>
        <tbody>
            {% for Records in users %}
            <tr>
                <td>{{Records.student}}</td>
                <td>{{Records.Arrivedate}}</td>
                <td>{{Records.get_campus_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'detection/pagination.html' with page=post%} {%endblock%} {% block js %}
<script language="javascript" type="text/javascript">
    $(function() {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,

            locale: {
                format: 'M/DD hh:mm '
            }
        });
    });
    $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
        $('#start').val(picker.startDate.format('YYYY-MM-DD hh:mm A '));
        $('#end').val(picker.endDate.format('YYYY-MM-DD hh:mm A'));


    });
</script>
{%endblock%}